<article class="interactive-collage"  aria-label="examples collage with Daniel's work">
    <div aria-hidden="true" class="inline-images">
      <div class="interactive-collage__image-container">
        <img src="https://framerusercontent.com/images/Nwjx3mEoGEPr6Z0ytJSVKttdBM.png?scale-down-to=2048" alt="collage image 1">
      </div>
      <div class="interactive-collage__image-container">
        <video src="https://framerusercontent.com/assets/xbEd5nQuu7jfqgySKEiWM6qEo.mp4" autoplay muted loop preload="auto" playsinline style="cursor: auto; width: 100%; height: 100%; border-radius: 0px; display: block; object-fit: cover; background-color: rgba(0, 0, 0, 0); object-position: 50% 50%;"></video>
      </div>
      <div class="interactive-collage__image-container">
        <img src="https://framerusercontent.com/images/lBIrIxZdsYrBmX6E6fAnq9CE.png" alt="collage image 2">
      </div>
    </div>
    <div aria-hidden="true" class="inline-images">
      <div class="interactive-collage__image-container">
        <img src="https://framerusercontent.com/images/oAJl5eDWvbfHlPjrwIFb987kAu4.png?scale-down-to=2048" alt="collage image 3">
      </div>
      <div class="interactive-collage__image-container">
        <img src="https://framerusercontent.com/images/UaMHiPIlMGHsAEna9IcRYjw7t8.png" alt="collage image 4">
      </div>
      <div class="interactive-collage__image-container">
        <video src="https://framerusercontent.com/assets/PT6OnNPBZFGXR6G94bjgqLXitE.mp4" autoplay loop="" preload="auto" playsinline="" style="cursor: auto; width: 100%; height: 100%; border-radius: 0px; display: block; object-fit: cover; background-color: rgba(0, 0, 0, 0); object-position: 50% 50%;"></video>
      </div>
    </div>
    <div>
      <h3 tabindex="0">On a quest to craft something awesome</h3>
      <span>to hone my skills or just for fun</span>
    </div>
    <div aria-hidden="true" class="inline-images">
      <div class="interactive-collage__image-container">
        <video src="https://framerusercontent.com/assets/xOq06kbNR8ICBGBNB7orUoFaHY.mp4" autoplay loop="" preload="auto" playsinline="" style="cursor: auto; width: 100%; height: 100%; border-radius: 0px; display: block; object-fit: cover; background-color: rgba(0, 0, 0, 0); object-position: 50% 50%;"></video>
      </div>
      <div class="interactive-collage__image-container">
        <video src="https://framerusercontent.com/assets/QfUAxk804JwLz1jyK0oKMlni7M.mp4" autoplay loop="" preload="auto" playsinline="" style="cursor: auto; width: 100%; height: 100%; border-radius: 0px; display: block; object-fit: cover; background-color: rgb(255, 255, 255); object-position: 50% 50%;"></video>
      </div>
      <div class="interactive-collage__image-container">
        <img src="https://framerusercontent.com/images/xFdANJx6wfkQxFqhvGeNeKKb24.png" alt="collage image 5">
      </div>
    </div>
    <div aria-hidden="true" class="inline-images">
      <div class="interactive-collage__image-container">
        <img src="https://framerusercontent.com/images/T5ht5TBTRPdFyLvGcg51zTAUQEY.png" alt="collage image 6">
      </div>
      <div class="interactive-collage__image-container">
        <img src="https://framerusercontent.com/images/3w2g5AFuxWTbnqNlmwEXsSqDnQ.png?scale-down-to=1024" alt="collage image 7">
      </div>
      <div class="interactive-collage__image-container">
        <img src="https://framerusercontent.com/images/48sF0xtesVWYCLTam7FDR3E3jUU.png?scale-down-to=1024" alt="collage image 8">
      </div>
    </div>
</article>
