<footer class="contact">
    <a class="contact__info" [href]="'mailto:' + email" aria-label="Email">
        <img class="contact__info-icon" decoding="async" loading="lazy"
            src="https://framerusercontent.com/images/nHYOQcuzYrkkZjS0n4cvohxjXjg.svg"
            alt="plane doodle for sending email">
        <span class="contact__info-text">{{ email() }}</span>
    </a>
    <ul class="contact__social">
        @for (link of socialLinks; track link.name) {
        <li class="contact__social-item">
            <a [href]="link.url" target="_blank" rel="noopener noreferrer" [attr.aria-label]="link.ariaLabel">
                <img [src]="link.iconSrc" [alt]="link.name + ' logo'">
            </a>
        </li>
        }
    </ul>
</footer>