<header class="header">
  <div class="circle-gradient"></div>
  <nav class="header__nav">
    <menu class="header__menu">
      <a href="#" aria-label="Go to Home">
        <img aria-hidden="true" class="header__menu-home-icon" src="favicon.avif" alt="(temporary) home button">
      </a>
      @for (item of [
      { title: 'Hey', link: '#' },
      { title: 'Work', link: '#' },
      { title: 'Story', link: '#' },
      { title: 'Chat', link: '#' },
      ]; track item.title) {
      <li class="header__menu-item">
        <a [href]="item.link">{{ item.title }}</a>
      </li>
      }
    </menu>
  </nav>
</header>