@use "../../ui/styles/variables.scss" as variables;

.work {
  margin-bottom: 12rem;

  &__title {
    text-align: center;
    font-size: 6.5rem;
    font-weight: 500;
    letter-spacing: -4px;
    margin-bottom: 4rem;
  }

  &__subtitle {
    margin-left: 900px;
    font-family: "Caveat", serif;
    color: rgb(165, 165, 165);
    font-size: 2.2rem;
    font-weight: 600;
    display: inline-block;
    transform: rotate(4deg);
  }

  &__item {
    @extend %card-style;
    width: 80dvw;
    height: 95dvh;
    margin: 0 auto 2rem;
    cursor: pointer;
    overflow: hidden;

  }

  &__header {
    display: flex;
    padding: 50px;
  }

  &__item-title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
    padding-left: 20px;
  }

  &__arrow {
    margin-left: auto;
    height: 45px;
  }

  &__description {
    margin-bottom: 2rem;
    opacity: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    padding-left: 50px;
    padding-right: 550px;
  }

  &__description--deepengine {
    opacity: 0.8;
    font-size: 1.6rem;
    font-weight: 500;
    padding-left: 50px;
    padding-right: 550px;
    margin-bottom: 1rem;
  }

  &__note {
    font-family: "Caveat", serif;
    color: grey;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 50px;
    margin-bottom: 2rem;
  }

  &__logo {
    width: 60px;
    border-radius: 20%;
  }

  &__images-container {
    display: flex;
  }

  &__image-container {
    width: 35%;
    transform: rotate(-3deg);
    position: relative;
    display: inline-block;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
    margin-left: 80px;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      right: -6px;
      bottom: -6px;
      border-radius: 25px;
      background: white;
      z-index: -1;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    }


    &:nth-child(2) {
      display: inline-block;
      transform: rotate(3deg) translateX(-60px) translateY(65px);
    }

  }


  &__image-container--wide {
    width: 55%;
    background-color: white;
    transform: rotate(2deg);
    margin-right: 60px;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    margin-top: 50px;

    &::before {
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      right: -6px;
      bottom: -6px;
      border-radius: 25px;
      background: white;
      z-index: -1;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

    }

    &:nth-child(1) {
      display: inline-block;
      transform: rotate(-3deg) translateX(50px) translateY(50px);

    }
  }

  &__img {
    width: 100%;
    display: block;
    border-radius: 20px;

    &:hover {
      transform: scale(1.05);
      transition: all 0.3s ease;
    }
  }
}