@use "../../ui/styles/variables.scss" as variables;

.work {
    margin-bottom: 12rem;
  
    h2{
      text-align: center;
      font-size: 6.5rem;
      font-weight: 500;
      letter-spacing: -4px;
      margin-bottom: 4rem;
    }
  
    span{
      margin-left: 900px;
      font-family: "Caveat", serif; 
      color:rgb(165, 165, 165);
      font-size: 2.2rem;
      font-weight: 600;
      display: inline-block;
      transform: rotate(4deg);
    }
  
    &__item {
      margin-bottom: 2rem;
      @extend %card-style;
      width: 80dvw;
      height: 95dvh;
      margin-inline: auto;
      cursor: pointer;
      overflow: hidden;
      
  
      &-header{
        display:flex;
        padding: 50px;
      }
    
      h4 {
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 0.25rem;
        padding-left: 20px;
      }
  
      &-arrow{
        margin-left: auto; 
        height: 45px;
      }
  
      &-description {
        margin-bottom: 2rem;
        opacity: 50%;
        font-size: 1.6rem;
        opacity: 50%;
        font-weight: 500;
        padding-left: 50px;
        padding-right: 550px;
      }
  
      &--deepengine{
        opacity: 0.8;
        font-size: 1.6rem;
        opacity: 50%;
        font-weight: 500;
        padding-left: 50px;
        padding-right: 550px;
        margin-bottom: 1rem;
      }
  
      &-note{
        font-family: "Caveat", serif; 
        color:grey;
        font-size: 1.5rem;
        font-weight: 600;
        padding-left: 50px;
        margin-bottom: 2rem;
      }
  
      &-logo{
        width: 60px;
        border-radius: 20%;
      }
  
      .work__images-container{
        display:flex;
        
      }
  
      .work__image-container-1{
        width: 35%;
        transform: rotate(-3deg);
        position: relative;
        display: inline-block;
        border-radius: 20px;
        margin: auto;
        margin-top: 50px;
        margin-left:80px;
        z-index: 1;
        
        &::before {
          content: "";
          position: absolute;
          top: -6px; left: -6px; right: -6px; bottom: -6px;
          border-radius: 25px;
          background: white;
          z-index: -1;
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); 
        }
  
        &:nth-child(2){
          display: inline-block;
          transform: rotate(3deg) translateX(-60px) translateY(65px);
        }
      }
  
    
      .work__image-container-2{
        width: 55%;
        background-color: white;
        transform: rotate(2deg);
        margin-right: 60px;
        position: relative;
        display: inline-block;
        border-radius: 20px;
        margin-top: 50px;
      
        &::before {
          content: "";
          position: absolute;
          top: -6px; left: -6px; right: -6px; bottom: -6px;
          border-radius: 25px;
          background: white;
          z-index: -1;
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); 
  
        }
  
        &:nth-child(1){
          display: inline-block;
          transform: rotate(-3deg) translateX(50px) translateY(50px);
          
        }
      }
  
     
      &__img{
        width: 100%;
        display: block;
        border-radius: 20px;
        &:hover {
          transform: scale(1.05);
          transition: all 0.3s ease;
        
        }
        
      }
    }
  }