<section class="story" aria-label="Daniel's story">
    <h2 tabindex="0">I don't have dark secrets, only bright ones</h2>
    <div class="story__grid__container">
      <article class="story__text">
        <p>Growing up in Ukraine, my journey into design started… on the streets =) As a teen, art and graffiti
          sparked my visual storytelling passion, architecture degree gave me foundation, and digital design showed
          new creative depths.</p>
        <p>Five years later, my wife and I moved to Porto. Here, with the ocean breeze, I craft web and brand
          solutions for tech companies to shine.</p>
      </article>
      <article class="story__video">
        <video autoplay muted loop playsinline class="" src="/story-video.mp4"></video>
      </article>
      <article class="story__video">
        <video autoplay loop preload="auto" playsinline class="" src="/mission-tags-video.mp4"></video>
      </article>
      <article class="story__text">
        <p>I partner up with dynamic tech teams reinventing tomorrow, from YC startups to enterprises and bootstrapped
          guys. </p>
        <p>My mission: to craft unique, consistent, mature identities for SaaS and Web3 products, boosting user
          engagement, investor confidence, revenue, and industry respect — a design others will benchmark.</p>
      </article>
    </div>
    <app-collage/>
  </section>
